body{
     //background-color: #6A406F;
     background: #6a406f;
    background: -moz-linear-gradient(top, #6a406f 63%, #d1aa00 100%);
    background: -webkit-linear-gradient(top, #6a406f 63%,#d1aa00 100%);
    background: linear-gradient(to bottom, #6a406f 63%,#d1aa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a406f', endColorstr='#d1aa00',GradientType=0 );
}
 h1 {
     text-align: center;
     color: #6A406F;
 }

  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 120px;
    text-decoration: none;
    font-size: 30px;
}
 
  .topnav {
      background-color: #d1aa00;
      overflow: hidden;
  }
  
  .topnav a:hover {
      background-color: #ddd;
      color: #6A406F;
  }
.topnav{
    height: 100px;
}
.logo{
    height: 100px;
    margin: 0 90px 0 0;
    position: absolute;
    top: 0px;
    left: 0px;
}
.navbar-nav{
     list-style-type: none;
     margin-left: 80px;
     padding-top: 20px;
}
 
  h2 {
    text-align: center;
    color: black;
    padding: 32px;
    font-size: 29px;
 }

.card {
    padding: 15px;
    background-color: #FFFFFF;
    max-width: 900px;
    width: 90%;
    margin: 30px auto;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.4);
    border-radius: 4px;
}

.contactForm{
    padding: 15px;
}
.chip{
    position: relative;
    left: 40%;
    display: block;
}